body {
    font-family: "Josefin Sans", Helvetica;
  }

.topnav a {
    margin: 5px 5px 5px 5px;
}

#menupasteles p, #menudecoraciones p {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
    margin-top: 7px;
    margin-bottom: 7px;
}

footer li {
    list-style-type: square;
}

